<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyds.log">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".RestartActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

    </application>

</manifest>